body {
	background-color: yellow;
}

#outer {
	border-radius: 100%;
	background-color: white;
	height: 200px;
	width: 200px;
	margin: 0 auto;
	margin-top: 50px;
}
#outer {
	background: linear-gradient(orange 50%, purple 50%);
}

#mid-header {
	margin-top: 100px;
}

#go {
	color: white;
	margin-top: 200px;
	height: 100px;
	width: 100px;
	display: block;
	margin: 0 auto;
	border-radius: 50px;
	background-color: blue;
	outline: none;
}

h1 {
	padding-top: 25px;
	padding-bottom: 25px;
}

#top {
	margin-top: 30px;
}

.arrow {
	font-weight: bolder;
}

#timer-box {
	background-color: white;
	margin-top: 75px;
	border-radius: 10px;
}

#timer {
	font-size: 50px;
}

